.block_1_6{
    display: inline-block;
    position: relative;
}

.block_1_6_opt {
    overflow: hidden;
}

select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    outline: none; 
    background: url("images/drop/frame.svg") 95%/12% no-repeat rgb(243,226,190,75%)  ; 
    border: 1px solid #aaa; 
    border-radius:4px;
    padding-left: -100px; 
    padding-right:10%;
    width: auto;
    font-size: 14px; 
    color: black; 
    cursor: pointer; 
    margin:2%;
}


    select:hover::before {
        opacity: 0;
        width: auto;
    }


    select option {
        width: auto;
        background: rgb(243,226,190,75%);
        color: black;
    }