*{
margin:0;
padding:0;
}

body {
    background-image: url('images/background/background2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

@media (min-width: 1100px){
    .block {
        height: 50px;
        margin-top: -10px;
        margin-left: -8px;
        margin-right: -8px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3 a a a a8" [row-end]/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            grid-area: a1;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            padding-top:5px;
            padding-bottom:-25px;
        }

        .block .button2 {
            grid-area: a2;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            padding-top: 7px;
            padding-bottom: -25px;
        }

        .block .switch {
            grid-area: a8;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 175px;
            margin-right: 25px;
            padding-bottom: -10px;
        }

    .block_1 {
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        display: grid;
        grid-template:
            [start] "a1 a1 a1 a1" [row2]
            [row2] "a2 a3 a3 a3" [row3]
            [row3] "a4 a5 a5 a5" [row4]
            [row4] "a8 a7 a7 a7" [row-end]/ 1fr 1fr 1fr 1fr;
        gap: 30px;
        padding: 20px;
        background-color: var(--color-bg);
        border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    }

        .block_1 .block_1_1 {
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            padding: 10px 50px;
            color: white;
            grid-area: a1;
        }

    p {
        font-size: 24px;
    }

    .block_1 .block_1_2 {
        position: relative;
        border-radius: 16px;
        color: white;
        grid-area: a2;
        padding: 2%;
        grid: auto auto;
        grid-area: a2;
    }

        .block_1 .block_1_2 .block_1_2_1 {
            position: absolute;
            top: 0px;
            right: 52%;
            width: 42%;
            height: auto;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding-bottom: 10%;
            padding: 3%;
            margin-bottom: 5%;
        }

        .block_1 .block_1_2 .block_1_2_2 {
            position: absolute;
            top: 0px;
            left: 50%;
            width: 43%;
            height: auto;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding: 3%;
            margin-bottom: 5%;
        }

    .block_1 .block_1_3 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        grid-area: a3;
        padding: 2%;
    }

    .block_1 .block_1_4 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        grid-area: a4;
        padding: 2%;
        padding-left: 10%;
        padding-top: 5%;
    }

    .block_1 .block_1_5 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 2%;
        color: white;
        grid-area: a5;
        padding: 4%;
        padding-top: 4%;
    }

    .block_1 .block_1_6 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 5%;
        color: white;
        grid-area: a8;
        position: relative;
    }


    .block_1 .container_img {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 0px;
        gap: 20px;
    }

        .block_1 .container_img .block_character1 {
            padding: 0px;
        }

    .block_1 .container_img2 .block_character2 {
        padding: 0px;
    }
}



@media (width <= 1100px) and (width>=760px) {
    .block {
        height: 50px;
        margin-top: -10px;
        margin-left: -8px;
        margin-right: -8px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3" [row-end]/ 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding-top: 5px;
            padding-bottom:-10px;
            margin-left: 5%;
            color: black;
            align-content: center;
            grid-area: a1;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding-top: 5px;
            padding-bottom: -10px;
            color: black;
            align-content: center;
            grid-area: a2;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 175px;
            margin-right: 25px;
            padding-bottom: -10px;
        }

    .block_1 {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template:
            [start] "a1 a1 a1" [row2]
            [row2] "a2 a3 a3" [row3]
            [row3] "a4 a5 a5" [row4]
            [row4] "a6 a7 a7" [row-end]/ 1fr 1fr 1fr;
        gap: 30px;
        padding: 20px;
        background-color: var(--color-bg);
        border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    }

        .block_1 .block_1_1 {
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            padding: 10px 50px;
            color: white;
            grid-area: a1;
        }

    p {
        font-size: 24px;
    }

    .block_1 .block_1_2 {
        position: relative;
        border-radius: 16px;
        color: white;
        grid-area: a2;
        padding: 2%;
        grid: auto auto;
        grid-area: a2;
    }

        .block_1 .block_1_2 .block_1_2_1 {
            position: absolute;
            top: 0px;
            right: 52%;
            width: 42%;
            height: auto;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding-bottom: 10%;
            padding: 3%;
            margin-bottom: 5%;
        }

        .block_1 .block_1_2 .block_1_2_2 {
            position: absolute;
            top: 0px;
            left: 50%;
            width: 43%;
            height: auto;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding: 3%;
            margin-bottom: 5%;
        }

    .block_1 .block_1_3 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        grid-area: a3;
        padding: 5%;
    }

    .block_1 .block_1_4 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        grid-area: a4;
        padding: 2%;
        padding-left: 10%;
        padding-top: 5%;
    }

    .block_1 .block_1_5 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 2%;
        color: white;
        grid-area: a5;
        padding: 4%;
        padding-top: 4%;
    }

    .block_1 .block_1_6 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 5%;
        color: white;
        grid-area: a6;
        position: relative;
    }


    .block_1 .container_img {
        display: grid;
        grid-template-rows: auto ;
        padding: 0px;
        gap: 20px;
    }

        .block_1 .container_img .block_character1 {
            padding: 0px;
        }

    .block_1 .container_img2 .block_character2 {
        padding: 0px;
    }
}



@media (max-width: 760px) and (min-width: 550px) {
    .block {
        height: 50px;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3" [row-end]/ 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding: 4%;
            margin-bottom:3.5%;
            margin-left: 5%;
            color: black;
            align-content: center;
            grid-area: a1;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding: 4%;
            margin-bottom:3.5%;
            color: black;
            align-content: center;
            grid-area: a2;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 95px;
            margin-right: 25px;
        }

    .block_1 {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template: 
            [start] "a1 a1" [row2]
            [row2] "a2 a3" [row3]
            [row3] "a4 a5" [row4]
            [row4] "a6 a7" [row-end]/ 1fr 1fr;
        gap: 10px;
        padding: 20px;
        background-color: var(--color-bg);
        border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    }

        .block_1 .block_1_1 {
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            padding: 10px 50px;
            grid-area: a1;
            color: white;
            margin-right: -2%;
            margin-left: -2%;
        }

    p {
        font-size: 24px;
    }

    .block_1 .block_1_2 {
        border-radius: 16px;
        color: white;
        padding: 2%;
        margin-right: 5%;
        margin-left: -5%;
        grid-area: a2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

        .block_1 .block_1_2 .block_1_2_1 {
            width: 90%;
            height: 60%;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding-bottom: 5%;
            padding: 3%;
            margin-bottom: -5%;
        }

        .block_1 .block_1_2 .block_1_2_2 {
            width: auto;
            height: 60%;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding: 3%;
            margin-bottom: 5%;
        }

    .block_1 .block_1_3 {
        grid-area: a3;
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        padding: 5%;
        margin-top: 0%;
        margin-right: -5%;
        margin-left: -5%;
    }

    .block_1 .block_1_4 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        width:80%;
        padding: 2%;
        padding-left: 10%;
        padding-top: 5%;
        grid-area: a4;
    }

    .block_1 .block_1_5 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 2%;
        color: white;
        padding-left: 8%;
        padding-top: 4%;
        grid-area: a5;
        margin-right: -5%;
        margin-left: -5%;
    }

    .block_1 .block_1_6 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 5%;
        color: white;
        grid-area: a6;
    }


    .block_1 .container_img {
        display: grid;
        grid-template-rows: auto 1fr;
        padding: 0px;
        gap: 20px;
    }

        .block_1 .container_img .block_character1 {
            padding: 0px;
        }

    .block_1 .container_img2 .block_character2 {
        padding: 0px;
    }
}



@media (max-width: 550px) {
    .block {
        height: 90px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: -20px;
        display: grid;
        grid-template:
            [start] "a1 a3" [row2]
            [row2] "a2 a4" [row-end] / 1fr 1fr;
        gap: 15px;
        padding: 25px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding-top: 2px;
            margin-left: 5%;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding: 2%;
            margin-bottom: 3.5%;
            margin-left: 5%;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            margin-left: 95px;
            margin-right: 25px;
        }

    .block_1 {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template:
            [start] "a1" [row2]
            [row2] "a2" [row3]
            [row3] "a3" [row4]
            [row4] "a4" [row5]
            [row5] "a5" [row6]
            [row6] "a6" [row-end]/ 1fr;
        gap: 10px;
        padding: 20px;
        background-color: var(--color-bg);
        border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    }

        .block_1 .block_1_1 {
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            padding: 10px 50px;
            grid-area: a1;
            color: white;
            margin-right: -5%;
            margin-left: -5%;
        }

    p {
        font-size: 24px;
    }

    .block_1 .block_1_2 {
        border-radius: 16px;
        color: white;
        padding: 2%;
        margin-right: -5%;
        margin-left: -5%;
        grid-area: a2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

        .block_1 .block_1_2 .block_1_2_1 {
            top: 27px;
            right: 70%;
            width: 90%;
            height: 95%;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding-bottom: 5%;
            padding: 3%;
            margin-bottom: -5%;
        }

        .block_1 .block_1_2 .block_1_2_2 {
            top: 27px;
            left: 50%;
            width: auto;
            height: auto;
            background-color: rgb(0,0,0,75%);
            border-radius: 16px;
            color: white;
            padding: 3%;
            margin-bottom: 5%;
        }

    .block_1 .block_1_3 {
        grid-area: a3;
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        padding: 7%;
        margin-top: 0%;
        margin-right: -5%;
        margin-left: -5%;
    }

    .block_1 .block_1_4 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        color: white;
        padding: 2%;
        padding-left: 10%;
        padding-top: 5%;
        grid-area: a4;
        margin-right: -5%;
        margin-left: -5%;
    }

    .block_1 .block_1_5 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding-left: 5%;
        color: white;
        padding: 7%;
        padding-top: 4%;
        grid-area: a5;
        margin-right: -5%;
        margin-left: -5%;
    }

    .block_1 .block_1_6 {
        background-color: rgb(0,0,0,75%);
        border-radius: 16px;
        padding: 5%;
        color: white;
        position: relative;
        grid-area: a6;
        margin-right: -5%;
        margin-left: -5%;
    }


    .block_1 .container_img {
        display: grid;
        grid-template-rows: auto 1fr;
        padding: 0px;
        gap: 20px;
    }

        .block_1 .container_img .block_character1 {
            padding: 0px;
        }

    .block_1 .container_img2 .block_character2 {
        padding: 0px;
    }
}
