* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

@media (min-width: 1100px) {
    .block_map {
        height: 50px;
        margin-top: -10px;
        margin-left: -8px;
        margin-right: -8px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3 a a a a8" [row-end]/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block_map .button1 {
            grid-area: a1;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: -25px;
        }

        .block_map .button2 {
            grid-area: a2;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            padding: 7px;
            padding-top: 7px;
        }

        .block_map .switch {
            grid-area: a8;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 175px;
            margin-right: 25px;
            padding-bottom: -10px;
        }

    .block_info {
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template:
            [start]"a1 a1 a2 a2"[row2]
            [row2]"a3 a3 a2 a2"[row3]
            [row3]"a3 a3 a2 a2"[row-4]
            [row4]"a3 a3 a2 a2"[row-5]
            [row5]"a3 a3 a2 a2"[row-6]
            [row6]"a3 a3 a2 a2"[row-end] / 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

        .block_info .block_info1 {
            padding: 5px;
            padding-top: 10px;
            margin-bottom: 300px;
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a1;
        }

        .block_info .block_text {
            background-color: rgb(0,0,0,75%);
            color: white;
            margin-top: -300px;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a3;
        }

        .block_info .block_map {
            margin-left: 20px;
            padding: 5px;
            background-image: url("images/background/back_map.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 550px;
            height: 550px;
            border: 3px solid black;
            border-radius: 16px;
            grid-area: a2;
        }
}
@media (width <= 1100px) and (width>=760px) {
    .block {
        height: 50px;
        margin-top: -10px;
        margin-left: -8px;
        margin-right: -8px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3" [row-end]/ 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding-top: 5px;
            padding-bottom: -10px;
            margin-left: 5%;
            color: black;
            align-content: center;
            grid-area: a1;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding-top: 5px;
            padding-bottom: -10px;
            color: black;
            align-content: center;
            grid-area: a2;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 175px;
            margin-right: 25px;
            padding-bottom: -10px;
        }

    .block_info {
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template:
            [start]"a1 a1 a2 a2"[row2]
            [row2]"a3 a3 a2 a2"[row3]
            [row3]"a3 a3 a2 a2"[row-4]
            [row4]"a3 a3 a2 a2"[row-5]
            [row5]"a3 a3 a2 a2"[row-6]
            [row6]"a3 a3 a2 a2"[row-end] / 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

        .block_info .block_info1 {
            padding: 5px;
            padding-top: 10px;
            margin-bottom: 300px;
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a1;
        }

        .block_info .block_text {
            background-color: rgb(0,0,0,75%);
            color: white;
            margin-top: -300px;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a3;
        }

        .block_info .block_map {
            margin-left: 20px;
            padding: 5px;
            background-image: url("images/background/back_map.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 550px;
            height: 550px;
            border: 3px solid black;
            border-radius: 16px;
            grid-area: a2;
        }
}
@media (max-width: 760px) and (min-width: 550px) {
    .block {
        height: 50px;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        display: grid;
        grid-template:
            [start] "a1 a2 a3" [row-end]/ 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding: 4%;
            margin-bottom: 3.5%;
            margin-left: 5%;
            color: black;
            align-content: center;
            grid-area: a1;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding: 4%;
            margin-bottom: 3.5%;
            color: black;
            align-content: center;
            grid-area: a2;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            padding-top: 5px;
            margin-left: 95px;
            margin-right: 25px;
        }

    .block_info {
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template:
            [start]"a1 a1 a2 a2"[row2]
            [row2]"a3 a3 a2 a2"[row3]
            [row3]"a3 a3 a2 a2"[row-4]
            [row4]"a3 a3 a2 a2"[row-5]
            [row5]"a3 a3 a2 a2"[row-6]
            [row6]"a3 a3 a2 a2"[row-end] / 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

        .block_info .block_info1 {
            padding: 5px;
            padding-top: 10px;
            margin-bottom: 300px;
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a1;
        }

        .block_info .block_text {
            background-color: rgb(0,0,0,75%);
            color: white;
            margin-top: -300px;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a3;
        }

        .block_info .block_map {
            margin-left: 20px;
            padding: 5px;
            background-image: url("images/background/back_map.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 550px;
            height: 550px;
            border: 3px solid black;
            border-radius: 16px;
            grid-area: a2;
        }
}
@media (max-width: 550px) {
    .block {
        height: 90px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: -20px;
        display: grid;
        grid-template:
            [start] "a1 a3" [row2]
            [row2] "a2 a4" [row-end] / 1fr 1fr;
        gap: 15px;
        padding: 25px;
        background-color: rgb(0,0,0,75%);
    }

        .block .button1 {
            background-color: rgb(243,226,190,75%);
            padding-top: 2px;
            margin-left: 5%;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .button2 {
            background-color: rgb(243,226,190,75%);
            padding: 2%;
            margin-bottom: 3.5%;
            margin-left: 5%;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
        }

        .block .switch {
            grid-area: a3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            margin-left: 95px;
            margin-right: 25px;
        }

    .block_info {
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template:
            [start]"a1 a1 a2 a2"[row2]
            [row2]"a3 a3 a2 a2"[row3]
            [row3]"a3 a3 a2 a2"[row-4]
            [row4]"a3 a3 a2 a2"[row-5]
            [row5]"a3 a3 a2 a2"[row-6]
            [row6]"a3 a3 a2 a2"[row-end] / 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

        .block_info .block_info1 {
            padding: 5px;
            padding-top: 10px;
            margin-bottom: 300px;
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a1;
        }

        .block_info .block_text {
            background-color: rgb(0,0,0,75%);
            color: white;
            margin-top: -300px;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a3;
        }

        .block_info .block_map {
            margin-left: 20px;
            padding: 5px;
            background-image: url("images/background/back_map.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 550px;
            height: 550px;
            border: 3px solid black;
            border-radius: 16px;
            grid-area: a2;
        }
}