@media only screen and (orientation: portrait) and (max-width:768px) {
    body {
        background-image: url('images/background/mapmobile.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: center;
    }

    .block_map {
        height: 100px;
        margin-top: -10px;
        margin-left: auto;
        margin-right: -20px;
        display: grid;
        grid-template:
            [start] "c1 c3" [row2]
            [row2] "c2 c4" [row-end] / auto auto;
        gap: 15px;
        padding: 25px;
        background-color: rgb(0,0,0,75%);
    }

        .block_map .button1 {
            background-color: rgb(243,226,190,75%);
            padding-top: 2px;
            margin-left: 5%;
            width: 140px;
            height: 50px;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            margin-right: auto;
            grid-area: c1;
        }

        .block_map .button2 {
            background-color: rgb(243,226,190,75%);
            padding: 2%;
            margin-bottom: -3.5%;
            margin-left: 5%;
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            text-decoration: none;
            grid-area: c2;
        }

        .block_map .switch {
            grid-area: c3;
            background-color: rgb(243,226,190,75%);
            color: black;
            align-content: center;
            border-radius: 16px;
            font-size: 20px;
            margin-left: 35px;
            margin-right: 25px;
        }

    .container {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template:
            [start]"a1"[row2]
            [row2]"a3"[row3]
            [row3]"a3"[row-end] / 1fr;
        gap: 20px;
    }

        .container .block_info {
            padding: 5px;
            padding-top: 10px;
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a1;
        }

        .container .block_text {
            background-color: rgb(0,0,0,75%);
            color: white;
            border-radius: 16px;
            font-size: 20px;
            grid-area: a3;
        }

        .container .block_map {
            margin-left: 20px;
            padding: 5px;
            background-image: url("images/background/background.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            width: 550px;
            height: 550px;
            border: 3px solid black;
            border-radius: 16px;
            grid-area: a2;
        }
}
